.wrapper {
  display: flex;
  background-color: aqua;
}
.big_side {
  width: 800px;
  height: 800px;
  background-color: blue;
}
.navbar {
  width: 800px;
  height: 100px;
  background-color: red;
}
.main_page {
}
.small_side {
}
